html {
  text-align: center;
  font-family: Verdana;
}

body {
  background-color: Black;
}

h1 {
  font-weight: normal;
  color: White;
}
h1.main {
  font-size: 50px;
}

h1.description {
  font-weight: 300;
  font-size: 42px;
}

h2 {
  font-weight: normal;
  font-size: 21px;
  color: Gray;
}

p.link {
  font-size: 16px;
  color: Aquamarine;
}
